.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color:  'transparent';
}

.formulario { 
  margin-top: 15px;
  background-color: rgb(216, 216, 248);
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  box-shadow: 0px 0px 5px 5px rgb(214, 149, 75);
  width: 80%;
}

.formulario-conteudo { 
  background: #5757cf;
  display: flex;
  align-items: initial;
  flex: 1;
  flex-direction: column;
  width: 99%;
  margin-left: 15px;
  margin-right: 10px;
}

.formulario-logo {
  background-color: rgb(216, 216, 248);
  padding-top: 5px;
  border-width: 1px;
  text-align: center;
  width: 90%;
  height: 70px;
  }

.formulario-imagem {
  background-color: rgb(216, 216, 248);
  justify-content: center;
  border-color: #0c0c83;
  padding-bottom: 5px;
  width: 190px;
  height: 56px;
}

.formulario-titulo {
  background-color: rgb(216, 216, 248);
  width: 90%;
  text-align: center;
  height: 50px;
  }

.formulario-titulo h3 {
  background-color: rgb(216, 216, 248);
  border-width: 1px;
  color: rgb(250, 120, 34);
  width: 99%;
  height: 24px;
}

.formulario-titulo h4 {
  background-color: rgb(216, 216, 248);
  border-width: 1px;
  color: hsl(0, 94%, 51%);
  width: 99%;
  height: 24px;
}

.formulario svg {
  background-color: rgb(216, 216, 248);
  margin-left: 10px;
  font-size: 25px;
}

.formulario-botao {
  background-color: transparent;
    width: 98%;
    height: 70px;
    margin-bottom: 20px;
    padding-top: 10px;
    text-align: center;
}

.formulario-botao button {
  width: 70%;
  background-color: #050568;
  color: rgb(250, 120, 34);
  font-weight: bold;
  height: 60px;
  font-size: 18px;
  margin-top: 5px;
}  

.formulario-botao button:hover {
  background-color: #5757cf;
  color: #f5910d;
  cursor: pointer;
}

.campo {
  background-color: rgb(216, 216, 248);
  justify-content: left;  
  padding-right: 10px;
  padding-top: 0px;
}

.campo-cliente {
  background-color: rgb(216, 216, 248);
  width: 300px;
  display: flex;
  flex: 1;
  flex-direction: column;  
  align-items: flex-start;
  justify-content: left;  
  padding-top: 10px;
  padding-right: 10px;
}

.cliente {
  background-color: #c7dae7;
}

.campo-lado-a-lado {
  background-color: rgb(216, 216, 248);
  display: flex;
  flex-direction: row;  
  align-items: flex-start;
  flex: 1;
}

.container input {
  background: white;
  width: 100%;
  outline-width: 0;
  color: #0c0c83;
  border: 1px solid;
  border-color: #f5880c;
  font-size: 15px;
  margin-left: 5px;
  padding-right: 10px;
  border-radius: 4px;
}

.container checkbox {
  background: white;
  width: 100%;
  outline-width: 0;
  color: #0c0c83;
  border: 0px solid;
  border-color: #f5880c;
  font-size: 15px;
  margin-left: 5px;
  padding-right: 10px;
  border-radius: 4px;
}

.container textarea {
  background: white;
  width: 100%;
  color: hsl(240, 89%, 14%);
  outline-width: 0;
  border-color: #f5880c;
  border: 1px solid;
  font-size: 15px;
  padding-right: 10px;
  margin-left: 5px;
  border-radius: 4px;
}

.container label {
  background-color: rgb(216, 216, 248);
  width: 100%;
  outline-width: 0;
  color: hsl(240, 89%, 14%);
  border: none;
  font-size: 17px;
  padding-right: 10px;
  padding-left: 5px;
  margin-bottom: 0px;
}

.container select {
  background-color: #c7dae7;
}

.container ul {
  background-color: #c7dae7;
}

.container li {
  background-color: #c7dae7;
}

.selcliente {
  background: white;
  width: 35%;
  color: hsl(240, 89%, 14%);
  font-size: 17px;
  padding-right: 10px;
  padding: 0.375rem 0.75rem;
  border-radius: 7px;
  border: 1px solid;
  border-color: #f5880c;
  border: 0px solid;
  border-radius: 4px;
}
